DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=advicut
DB_USER=root
DB_PASS=
DB_CHARSET=utf8mb4

APP_BASE_PATH=/academic/University-Web-Applications-System-A
APP_BASE_URL=http://localhost/University-Web-Applications-System-A/
APP_TIMEZONE=asia/nicosia
PASSWORD_RESET_SMTP_USER=your-smtp-username
PASSWORD_RESET_SMTP_PASS=your-smtp-password
